#navbar-topo{
	color: #fff;
	background-color: #367fa9;
	border-bottom: 0 solid transparent;	
}

#navbar-topo > .container-fluid > ul.nav > li > a,
#navbar-topo > .container-fluid > ul.nav > li > .active > a,
#navbar-topo > .container-fluid > ul.nav > li > .active > a:visited{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

#navbar-topo > .container-fluid > ul.nav > li > a:hover,
#navbar-topo > .container-fluid > ul.nav > li > a:focus,
#navbar-topo > .container-fluid > ul.nav > li > .active > a:focus,
#navbar-topo > .container-fluid > ul.nav > li > .active > a:hover{
	color: #367fa9;
	background-color: #fff; 
	text-decoration: none;
	cursor: pointer;
}

/* Move down content because we have a fixed navbar that is 50px tall */
#content-wrapper,
#main-sidebar{
	padding-top: 50px;
}

#main-sidebar{
	height: 100%;
	position: fixed;
	background-color: #222d32;
	color: #fff;
	padding-left: 0px;
	padding-right: 0px;
}

#main-sidebar a,
#main-sidebar a:visited{
  	color: #fff;
  	text-decoration: none;
}

#main-sidebar a:hover,
#main-sidebar a:focus{
	color:#b8c7ce;
}

#main-sidebar a:visited,
#main-sidebar a:hover,
#main-sidebar a:focus{
	background: #1e282c;
	cursor: pointer;
}

#main-sidebar > .nav > li > ul > li{
	padding:  5px 0px;
}

#main-sidebar .glyphicon{
	padding-right: 4px;
}

#main-sidebar .btn{
	text-align: left;
}

.user-panel{
	display: block;
	padding: 10px;	
}
.user-img{
	height: auto;
	max-width: 96px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}

.user-bio{
	padding-top: 4px;
	text-align: center;
	position: relative;
	display: block;	
}


ul#Messages{
	list-style-type: none;
	padding: 0px;
}
